body {
    background: #0f171e;
}

.logo {
    width: 80px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-nav .active > .nav-link {
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-dark .form-control {
    background: transparent;
    border-radius: 0;
}

a {
    color: #79b8f3;
}

a:hover {
    color: #90dffe;
    text-decoration: none;
}

footer {
    color: #8197a4;
}